/*==========================

	Color Palette :
	--------------

	Beige : #F0F1E6
	Gris foncé : #969695
	Gris clair : #B3B3B1
	Vert clair : #588E79
	Vert foncé : #3D8267

	========================*/

/* Général */

body {
	font-family: Calibri;
}


/*PAGE*/

.page {
	display: flex;
	width: 1000px;
	height: 1400px;
	background-color: #F0F1E6;
}


/*INFOPHOTO*/

.infophoto {
	width: 30%;
	background-color: #588E79;
	color: #FFFFFF;
	justify-content: flex-start;
	text-align: center;
	box-shadow: 2px 2px 4px #CAC9CA;
	margin: 5% 0 5% 10%;
	padding-top: 1%;
}

p#age {

}
p.auteur {
	text-align: right;
	font-size: 12px;
}

hr {
	width: 60%;
	color: #3D8267;
}

h4 {
	font-size: 20px;
}

/*MAIN*/

.main {
	width: 65%;
	flex-direction: column;
	justify-content: flex-start;
	margin: 5% 10% 5% 5%;
}

h1 {
	font-size: 30px;
	color: #3D8267;
}

p.job {
	font-weight: bold;
	color: #969695;
	font-size: 18px;
}

p.date {
	color: #588E79;
}

p.act {
	color: #B3B3B1;
}


/*EXPERIENCES*/

#experience {
	border: 2px solid white;
	box-shadow: 2px 2px 4px #CAC9CA;
	background-color: white;
	padding-left: 10%;
	background-image: url(images/Experience.png);
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 0 5%;
}

/*FORMATIONS*/

#formation {
	border: 2px solid white;
	box-shadow: 2px 2px 4px #CAC9CA;
	background-color: white;
	margin-top: 8%;
	padding-left: 10%;
	background-image: url(images/Formation.png);
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 0 5%;

}
/*INTERETS*/

#interets {
	border: 2px solid white;
	box-shadow: 2px 2px 4px #CAC9CA;
	background-color: white;
	margin-top: 8%;
	padding-left: 10%;
	background-image: url(images/Loisirs.png);
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 0 20%;

}

/*ANECTDOTE*/

#souvenir {
	border: 2px solid white;
	box-shadow: 2px 2px 4px #CAC9CA;
	background-color: white;
	margin-top: 8%;
	padding-left: 10%;
	background-image: url(images/Souvenir.png);
	background-repeat: no-repeat;
	background-size: 8%;
	background-position: 0 18%;

}